.jobCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.jobcard {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  padding: 2rem;
  transition: 0.5s ease-in-out;
}
.jobcard:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2),
    0 20px 50px 0 rgba(0, 0, 0, 0.19);
}
.jobcard-postedTime {
  color: #3b3838;
  width: fit-content;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 14px;
  background: rgb(230, 227, 227);
}
.jobcard-companyDetails {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}
.jobcard-companyDetails > img {
  width: 50px;
  height: 50px;
}

.jobcard-companyDetails > .jobcard-companyDetails-text > .jobcard-companyName {
  font-weight: 600;
  line-height: 4px;
  color: #8b8b8b;
}
.jobcard-companyDetails > .jobcard-companyDetails-text > .jobcard-JobName {
  line-height: 6px;
}
.jobcard-companyDetails > .jobcard-companyDetails-text > .jobcard-JobLocation {
  font-size: 14px;
  line-height: 6px;
}

.jobcard-about {
  position: relative;
}

.jobcard-about-heading {
  line-height: 2px;
  font-size: 1rem;
  font-weight: 600;
}

.jobcard-about-ViewJob {
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: rgb(255, 255, 255);
 
  bottom: -10px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  opacity: 90%;
  color: #3a93ff;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

.jobcard-button {
  background-color: rgb(85, 239, 196);
  padding: 1rem;
  border-radius: 15px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  position: relative; 
  overflow: hidden; 
  transition: background-color 0.3s ease; 
}

.jobcard-button::before {
  content: ''; 
  position: absolute;
  top: 0;
  left: -100%; 
  width: 100%; 
  height: 100%;
  background: linear-gradient(to right, rgba(5, 147, 133, 0.5), rgba(0, 0, 0, 0)); /* Gradient from left to right */
  transition: left 0.3s ease; 
}

.jobcard-button:hover::before {
  left: 0; /* Move gradient to the right to reveal the background color */
}

@media screen and (max-width: 2000px) {
}
@media screen and (max-width: 1050px) {
  .jobCards {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 670px) {
  .jobCards {
    grid-template-columns: 1fr;
  }
}
